@import 'config';
@import 'utilities';

// General Styles

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inconsolata', monospace;
    background: rgba(255, 255, 255, 0.1);
    
}

a {
    text-decoration: none;
    color: $dark-color;
}

ul{
    list-style: none;
}

h2, h3, h4 {
    text-transform: uppercase;
}

img{
    width: 100%;
}

// logo

// main nav
#main-nav {

    display: flex;
    justify-content: space-between;
    padding: 0.3rem 0.7rem 0 0.7rem;
    margin-top: 0.4rem;
    position: fixed;
    top: 0;
    background: rgba(24, 41, 58, 0.65) !important;
    width: $website-width;

    ul{
        display: flex;
    }
    li{
        padding: 1rem 1.5rem;
    }
    a{
        text-transform: uppercase;
        border-bottom: 3px transparent solid;
        padding-bottom: 0.5rem;
        transition: border-color 0.5s;

        &:hover{
            border-color: $medium-color;
            text-decoration: none;
        }

        &.current{
            border-color: $main-color;
        }
    }
}
// Header

header a{
    color: $light-color;
}

#header{
    &-home{
         background: $bg-image no-repeat center right / cover;
         z-index: -1;
         opacity: 0.9;
         height: 100vh;
         color: #fff;
         background-attachment: fixed;

        .header-content {
            z-index: 1;
            text-align: center;
            padding-top: 20%;

            h1{
                font-size: 4rem;

            }
        }

    }

    // &-inner{

    // }
}


// photo section

#photo-header{
    display: flex;
    
    padding-bottom: 100px;
    justify-content: center;
}